[submodule "BitcoinECDSA.php"]
	path = BitcoinECDSA.php
	url = git@github.com:DeckerSU/BitcoinECDSA.php.git

[submodule "openfood"]
	path = openfood
	url = git@github.com:OpenFoodChain/ofc-openfood.git
